html{
    box-sizing: border-box;
    height: 100vw;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #1b1b1b;
    max-width: 100vw;
}
nav{
    background: #212121;
    text-align: center;
    padding: 30px;
}

@media screen and (max-width: 1016px){
    nav{
        visibility: hidden;
    }   
}

a {
    text-decoration: none;
    padding: 30px 40px;
    color: white;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
}

a:hover{
    background: #f2d288;
}

.games-grid{
    position: relative;
    top: 5%;
    left: 50%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    transform: translateX(-50%);
    padding: 1.5rem;
}

.game-card{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: 5px groove #786f6e;
    border-radius: 13px;
    width: 350px;
    height: 350px;
    perspective: 1000px;
}

.game-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.game-card:hover .game-card-inner {
    transform: rotateY(180deg);
}

.front-card, .back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.front-card{
    color: black; 
}

.back-card {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.game-icon {
    margin-top: 1.5rem;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px inset rgb(16, 52, 74);
}

.highest-rank{
    width: 70%;
}

.game-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.lol-card{
    background-image: linear-gradient(
        rgba(80, 82, 81, 0.6), 
        rgba(80, 82, 81, 0.4) 
      ),url('lol_card.jpg');
    background-size: cover;
}

.wild-rift-card{
    background-image: linear-gradient(
        rgba(80, 82, 81, 0.6), 
        rgba(80, 82, 81, 0.4) 
      ),url('wild_rift_card.jpg');
    background-size: cover;
}
.king-of-thieves-card{
    background-image: linear-gradient(
        rgba(80, 82, 81, 0.6), 
        rgba(80, 82, 81, 0.4) 
      ),url('king_of_thieves_card.jpg');
    background-size: cover;
}
.pubg-card{
    background-image: linear-gradient(
        rgba(80, 82, 81, 0.6), 
        rgba(80, 82, 81, 0.4) 
      ),url('pubg-cardd.jpeg');
    background-size: cover;
}
.mobile-legends-card{
    background-image: linear-gradient(
        rgba(80, 82, 81, 0.6), 
        rgba(80, 82, 81, 0.4) 
      ),url('ml_card.jpg');
    background-size: cover;
}
.stardew-card{
    background-image: linear-gradient(
        rgba(80, 82, 81, 0.6), 
        rgba(80, 82, 81, 0.4) 
      ),url('stardew_card.png');
    background-size: cover;
}

.back-card h2{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#back-card-lol{
    background: radial-gradient(#e2dae3, #a895ab, #a3a3a3)
}

#back-card-wr{
    background: radial-gradient(#0d0c0b, #fa381e, #450b03)
}

#back-card-kot{
    background: radial-gradient(#d1d1b6, #fff5a3, #E09756)
}

#back-card-pubg{
    background: radial-gradient(#EFCD68, #DEC067, #D7B841)
}

#back-card-ml{
    background: radial-gradient(#D081FD, #EED6FC)
}

#back-card-stardew{
    background: radial-gradient(#02E677, #00695C)
}

#kot-character{
    margin-top: 15px;
}

#stardrop{
    width: 80%
}