html{
    box-sizing: border-box;
    height: 100vw;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

body{  
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(to right,#2f3030, #1e2121, #212120);
    max-width: 100%;
}

.background-canvas{
    position: relative;
    opacity: 0;
    transform: translateY(4em);
    transition: transform 4s 0.25s cubic-bezier(0,1,0.3,1), opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
    max-width: 100%;
    padding-bottom: 30px;
}

.background-canvas.is-visible{
    margin: 0;
    opacity: 1;
    transform: rotateZ(0deg);
    
}

#first-bg{
    position: relative;
    height: 50%;
    background-image:linear-gradient(
        rgba(80, 82, 81, 0.6), 
        rgba(80, 82, 81, 0.4) 
      ),url(katarina.jpg);
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 3s linear infinite alternate;
}

#second-bg{
    position: relative;
    height: 50%;
    background-image:linear-gradient(
        rgba(80, 82, 81, 0.3),
        rgba(80, 82, 81, 0.4)
    ),url(karina.jpg);
    background-size: cover;
    background-position:0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 3s linear infinite alternate;
}


nav{
    background: #212121;
    text-align: center;
    padding: 30px;
}


a {
    text-decoration: none;
    padding:30px 40px;
    color: white;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.7rem;
}

a:hover{
    background: #f2d288;
}

.wrapper{
    position: relative;
    max-width: 100%;
    max-height: 50%;
    top: 0;
    left: 0;

}


.about{
    margin: 2% 10%;
    font-size: 1.3rem;
    font-family: Poppins, sans-serif;
    color: white
}

.about h1 {
    margin: 0px;
    font-family: 'Pirata One', sans-serif;
    font-weight: 400;
    font-size: 3.3em;
    
}

@keyframes animateName{
    0% {
        content: "Billdegarde";
    }

    50% {
        content: "Khan";
    }

    75% {
        content: "Skydancer";
    }
}

span.igns::before{
    content: "Billdegarde";
    animation: animateName infinite 2s;
}

@keyframes animateGreet{
    0% {
        content: "Hi.";
    }

    50% {
        content: "Enchante.";
    }

    75% {
        content: "Konnichiwa.";
    }
}

span.greet::before{
    content: "Hi";
    animation: animateGreet infinite 3s;
}

.description{
    max-width: 40%;
}

@media screen and (max-width: 1016px){
    nav{
        visibility: hidden;
    }
    .wrapper{
        position: absolute;
        top: 0;
        left: 0;
    }
    .description{
        max-width: 100%;
        font-size: 1.5rem;
    }

    .about h1{
        font-size: 2rem;
    }
}




.social-medias{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    left: 0px;
    margin-bottom: 30px;
    margin-left: 50px;
    width: 40vw;
    gap: 10px;
    padding: 10px 0px;
    border-radius: 10px;
    background: rgba(222, 220, 215, 0.6);
    max-height: 10%;
}


@media screen and (max-width: 440px){
    .description{
        max-width: 100%;
        font-size: 0.7rem;
    }

    .about h1{
        font-size: 1.2rem;
    }

    .social-medias{
        padding: 5px;
    }
}

.icon-container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 99%;
    max-height: 40%;
    max-width: 15%;
}

.icon-container a{
    position: relative;
    display: block; 
    min-width: 99%;
    max-width: 100%;
    max-height: 100%;
    padding: 0px 0px;
    
}

.fa{
    position: relative;
    width: 100%;
}

.fa:hover {
    opacity: 0.7;
}

